
  /* PAGE STYLES */

    html {
      height: 90%;
    }

    body {
      position: relative;
      min-height: 100%;
    }

    .center {
      margin: auto;
      width: 50%;
      padding: 10px;
    }

  /* HEADER STYLES */

    h1 {
      font-size: 2vw;
    }

    header {
      text-align: center;
      font-family: 'Rock Salt', cursive;
      height: 150px;
      padding-left: 25px;
      margin: 40px;
    }

    /* DAD IMAGE STYLES */

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
    }

    /* BUTTON STYLES */

    button {
      background-color: white;
      color: black;
      border: 2px solid #f44336;
      border-radius: 7px;
      padding: 14px 40px;
      font-size: 2vw;
      font-family: 'Sawarabi Gothic', sans-serif;
      transition-duration: 0.4s;
      position: absolute;
    }

    button:hover {
      background-color: red;
      color: white;
    }

    /* DAD JOKE TEXT STYLES */

    #dadJoke {
      text-align: center;
      font-family: 'Goudy Bookletter 1911', serif;
      font-style: italic;
      font-size: 2vw;
    }

    /* PUSHES FOOTER TO BOTTOM AND STYLES FOOTER */

    .bottom-container {
      height: 300px;
    }

    footer {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      text-align: center;
      font-size: 1vw;
      font-family: 'Sawarabi Gothic', sans-serif;
    }

    footer a {
      text-decoration: none;
      color: black;
    }
    
    footer a:hover {
      color: #f44336;
    }

    /* ----------- Pixel2, Pixel2 XL, iPhone 6/7/8 and 6/7/8 Plus, IPhone X  ----------- */

    @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 1024px)
      and (-webkit-min-device-pixel-ratio: 2) {

         header {
           height: 125px;
         }

         h1 {
           font-size: 1em;
         }

         img {
           max-width: 100%;
           height: auto;
         }

         #dadJoke  {
  		      font-size: 2em;
  	     }

         button {
  		      height: 75px;
  		      font-size: 1em;
  	     }
         footer {
  		      bottom: -1px;
            font-size: 1em;
  	     }

    }
